@import url('https://fonts.googleapis.com/css2?&family=Bitcount+Grid+Double+Ink:wght@100..900');

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  margin: 0;
  font-family: 'Bitcount Grid Double Ink', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  background: #121217;
  color: #f8f8f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.heading {
  text-align: center;
  font-size: 48px;
}

